* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0b111d;
}
body header {
  width: 100%;
  display: flex;
  align-items: center;
}
body header input {
  border: 0;
  outline: 0;
  padding: 10px 25px;
  margin: 10px 0px 10px 10px;
  background-color: #202b3d;
  color: #fff;
  border-radius: 10px;
  flex: 1;
  font-size: 18px;
}
body header button {
  border: 0;
  outline: 0;
  margin: 0 10px;
  background-color: #202b3d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.container {
  margin: 10px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.container .weather h1 {
  font-size: 30px;
  font-weight: 300;
}
.container .weather h2 {
  font-size: 20px;
  font-weight: 100;
}
.container .weather-icon {
  width: 150px;
}
.container .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .details .col img {
  margin: 20px;
  width: 50px;
  height: 45px;
}

section {
  padding: 1rem;
}
section .day-card {
  max-width: 470px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.25px;
  margin: 10px 0;
  color: #fff;
  background-color: #202b3d;
}
section .day-card .day-weather-icon {
  width: 100px;
}
section .day-card-date {
  font-size: 20px;
  color: #fff;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 489px) {
  main .container {
    max-width: 470px;
  }
  .history-container {
    display: none;
    position: fixed;
    top: 55px;
    left: 145px;
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    background-color: #202b3d;
    z-index: 999;
  }
  .history-container.visible {
    display: block;
  }
  .history-container.visible .weather-history {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .history-container.visible .weather-history img {
    width: 50px;
  }
  .history-container.visible .weather-history h1, .history-container.visible .weather-history h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 490px) {
  body header {
    width: 70%;
  }
  body header input {
    width: 60%;
  }
  body header .hamburger {
    display: none;
  }
  body main {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  body main .left-part {
    width: 80%;
  }
  body main .left-part .container {
    margin: 10px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  body main .left-part .container .details {
    display: flex;
    align-items: center;
  }
  body main .left-part .container .details .col {
    justify-content: space-between;
  }
  body main .left-part .container .details .col img {
    margin: 20px;
    width: 50px;
    height: 45px;
  }
  body main section {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  body main section .day-card {
    display: block;
    justify-content: center;
    border-radius: 10px;
    width: 130px;
  }
  .right-part {
    width: 30%;
  }
  .right-part .history-container {
    background-color: #202b3d;
    display: block;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    margin-right: 20px;
  }
  .right-part .history-container .weather-history {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .right-part .history-container .weather-history img {
    width: 80px;
  }
  .right-part .history-container .weather-history h1, .right-part .history-container .weather-history h2 {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */